.menu-list {
    width: 224px;
    .menu-item {
        margin-left: 0px;
    }
}
.menu-proper {
    padding-bottom: 8px;
}

.menu-item {
    width: 100%;
    border-radius: 0;
    font-weight: 400;
    justify-content: flex-start;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
