.menu-list {
    width: 224px;
    height: 295px;

    .menu-item {
        margin-left: 0px;
    }
}
.menu-proper {
    padding-bottom: 8px;
}

.menu-item {
    width: 100%;
    border-radius: 0;
    font-weight: 600;
    line-height: 2.4rem;
    justify-content: flex-start;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.separate {
    border-top: 1.5px solid rgba(22, 24, 35, 0.12);
}
.header {
    height: 50px;
    position: relative;
    margin-top: -8px;
    cursor: pointer;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    margin-left: 12px;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
}
