.wrapper {
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    min-height: 36px;
    min-width: 100px;
    cursor: pointer;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-family: var(--font-family);
    font-weight: 700;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 8px;
    }
}
.rounded {
    border-radius: 999px;
    color: rgba(22, 24, 35, 0.75);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        border-color: var(--primary);
    }
}
.outline {
    border-color: var(--primary);
    &:hover {
        border-color: var(--primary);
    }
}

.small {
    min-height: 28px;
    min-width: 88px;
    color: var(--primary);
    font-weight: 500;
}
.large {
    min-height: 48px;
    min-width: 324px;
    color: var(--primary);
    font-weight: 700;
}
.text {
    font-weight: 600;
    min-width: 110px;
    padding: 0px 16px;
    border-radius: 0;
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.title + .icon,
.icon + .title {
    margin-left: 8px;
}
.icon {
    display: block;
    width: 20px;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}
