.wrapper {
    --search-height: 46px;
    --search-spacer: 9px;
    --search-btn: 52px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-spacer);
}
.logo {
    display: flex;
    align-items: center;
}
.more-btn {
    margin-left: 8px;
    width: 28px;
    height: 20px;
    background-color: var(--white);
    cursor: pointer;
}
.action {
    display: flex;
    align-items: center;
}
.user-logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
    cursor: pointer;
}
.action-btn {
    font-size: 2.2rem;
    background-color: transparent;
    padding: 6px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}
.prop {
    position: absolute;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 999px;
    padding: 4px 8px;
    font-size: 1.2rem;
    top: -4%;
    right: -20%;
}
